In [33]:
import pandas as pd

In [34]:
#Read in the dataset
flower_visitation_data = pd.read_csv('../data/2013_2015_flower_visitation_data.csv')

In [35]:
#First look at the dataset
flower_visitation_data

,Farm,Type,Round,Date,Species,Number,Caste,Visiting,Status,Purpose,Family
0,Farm1,ELS,Four,11/8/2013,Andrena minutula,1,Female,Heracleum sphondylium,Wild,Pollen,Apiaceae
1,Farm1,ELS,Four,11/8/2013,Andrena minutula,3,Female,Heracleum sphondylium,Wild,Pollen,Apiaceae
2,Farm1,ELS,Four,5/8/2014,Andrena minutula,1,Female,Heracleum sphondylium,Wild,Pollen,Apiaceae
3,Farm1,ELS,Four,5/8/2014,Halictus tumulorum,1,Male,Helminthotheca echioides,Wild,Nectar,Asteraceae
4,Farm1,ELS,Four,5/8/2014,Halictus tumulorum,3,Male,Pulicaria dysenterica,Wild,Nectar,Asteraceae
...,...,...,...,...,...,...,...,...,...,...,...
2462,Farm9,HLS,Two,9/6/2015,Andrena semilaevis,5,Female,Heracleum sphondylium,Wild,Pollen,Apiaceae
2463,Farm9,HLS,Two,9/6/2015,Andrena semilaevis,1,Male,Taraxacum agg.,Wild,Nectar,Asteraceae
2464,Farm9,HLS,Two,9/6/2015,Lasioglossum villosulum,1,Female,Crepis vesicaria,Wild,Pollen,Asteraceae
2465,Farm9,HLS,Two,9/6/2015,Sphecodes spinulosus,1,Male,Taraxacum agg.,Wild,Nectar,Asteraceae
2466,>>>>>>> 4190a2576b8c680e0fe22605b816e30a71cc96e6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
#Drop/rename columns
flower_visitation_data.columns

Index(['Farm', 'Type', 'Round', 'Date', 'Species', 'Number', 'Caste',
       'Visiting', 'Status', 'Purpose', 'Family'],
      dtype='object')

In [37]:
# Data has been cleaned - no need to drop columns
flower_visitation_data.head(10)

,Farm,Type,Round,Date,Species,Number,Caste,Visiting,Status,Purpose,Family
0,Farm1,ELS,Four,11/8/2013,Andrena minutula,1,Female,Heracleum sphondylium,Wild,Pollen,Apiaceae
1,Farm1,ELS,Four,11/8/2013,Andrena minutula,3,Female,Heracleum sphondylium,Wild,Pollen,Apiaceae
2,Farm1,ELS,Four,5/8/2014,Andrena minutula,1,Female,Heracleum sphondylium,Wild,Pollen,Apiaceae
3,Farm1,ELS,Four,5/8/2014,Halictus tumulorum,1,Male,Helminthotheca echioides,Wild,Nectar,Asteraceae
4,Farm1,ELS,Four,5/8/2014,Halictus tumulorum,3,Male,Pulicaria dysenterica,Wild,Nectar,Asteraceae
5,Farm1,ELS,Four,5/8/2014,Lasioglossum leucozonium,1,Male,Pulicaria dysenterica,Wild,Nectar,Asteraceae
6,Farm1,ELS,Four,5/8/2014,Lasioglossum malachurum,2,Male,Heracleum sphondylium,Wild,Nectar,Apiaceae
7,Farm1,ELS,Four,5/8/2014,Lasioglossum morio,1,Female,Heracleum sphondylium,Wild,Pollen,Apiaceae
8,Farm1,ELS,Four,5/8/2014,Lasioglossum pauxillum,1,Male,Tripleurospermum inodorum,Wild,Nectar,Asteraceae
9,Farm1,ELS,Four,5/8/2014,Lasioglossum villosulum,1,Male,Pulicaria dysenterica,Wild,Nectar,Asteraceae

In [38]:
#NaNs
flower_visitation_data.isna().sum() * 100 / len(flower_visitation_data)

Farm        0.00000
Type        0.08107
Round       0.08107
Date        0.08107
Species     0.08107
Number      0.08107
Caste       0.08107
Visiting    0.08107
Status      0.08107
Purpose     0.08107
Family      0.08107
dtype: float64

In [39]:
# Check what's actually in your DataFrame
print("Current DataFrame info:")
print(f"Shape: {flower_visitation_data.shape}")
print(f"Columns: {flower_visitation_data.columns.tolist()}")

# Find columns that aren't Git conflict markers
normal_columns = [col for col in flower_visitation_data.columns 
                 if not any(marker in str(col) for marker in ['<<<<<<<', '=======', '>>>>>>>'])]

if normal_columns:
    print(f"\nNormal columns found: {normal_columns}")
    
    # Explore the first normal column
    first_col = normal_columns[0]
    print(f"\nExploring '{first_col}':")
    print(f"Unique values: {flower_visitation_data[first_col].unique()}")
    
else:
    print("\nNo normal columns found - CSV needs manual fixing")
    print("The file contains Git merge conflict markers that need to be resolved")

Current DataFrame info:
Shape: (2467, 11)
Columns: ['Farm', 'Type', 'Round', 'Date', 'Species', 'Number', 'Caste', 'Visiting', 'Status', 'Purpose', 'Family']

Normal columns found: ['Farm', 'Type', 'Round', 'Date', 'Species', 'Number', 'Caste', 'Visiting', 'Status', 'Purpose', 'Family']

Exploring 'Farm':
Unique values: ['Farm1' 'Farm10' 'Farm11' 'Farm12' 'Farm13' 'Farm14' 'Farm15' 'Farm16'
 'Farm17' 'Farm18' 'Farm19' 'Farm2' 'Farm3' 'Farm4' 'Farm5' 'Farm6'
 'Farm7' 'Farm8' 'Farm9' '=======' 'Farm'
 '>>>>>>> 4190a2576b8c680e0fe22605b816e30a71cc96e6']

In [40]:
# Safe way to explore your data
print("Dataset overview:")
print(flower_visitation_data.info())

print("\nAll columns:")
for col in flower_visitation_data.columns:
    print(f"'{col}': {flower_visitation_data[col].dtype}")

# If you want to see unique values in the first column:
if len(flower_visitation_data.columns) > 0:
    first_column = flower_visitation_data.columns[0]
    print(f"\nUnique values in '{first_column}':")
    print(flower_visitation_data[first_column].unique())

Dataset overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2467 entries, 0 to 2466
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Farm      2467 non-null   object
 1   Type      2465 non-null   object
 2   Round     2465 non-null   object
 3   Date      2465 non-null   object
 4   Species   2465 non-null   object
 5   Number    2465 non-null   object
 6   Caste     2465 non-null   object
 7   Visiting  2465 non-null   object
 8   Status    2465 non-null   object
 9   Purpose   2465 non-null   object
 10  Family    2465 non-null   object
dtypes: object(11)
memory usage: 212.1+ KB
None

All columns:
'Farm': object
'Type': object
'Round': object
'Date': object
'Species': object
'Number': object
'Caste': object
'Visiting': object
'Status': object
'Purpose': object
'Family': object

Unique values in 'Farm':
['Farm1' 'Farm10' 'Farm11' 'Farm12' 'Farm13' 'Farm14' 'Farm15' 'Farm16'
 'Farm17' 'Farm18' 'Farm19' 'Farm2' 'Farm3' 'Farm4' 'Farm5' 'Farm6'
 'Farm7' 'Farm8' 'Farm9' '=======' 'Farm'
 '>>>>>>> 4190a2576b8c680e0fe22605b816e30a71cc96e6']

In [41]:
#Check column data types
flower_visitation_data.dtypes

Farm        object
Type        object
Round       object
Date        object
Species     object
Number      object
Caste       object
Visiting    object
Status      object
Purpose     object
Family      object
dtype: object

In [42]:
import pandas as pd
import io

def clean_git_conflicts_from_csv(file_path):
    """Remove Git merge conflict markers from CSV file"""
    
    try:
        # Read the raw file
        with open(file_path, 'r') as f:
            content = f.read()
        
        # Check if it has merge conflicts
        if '<<<<<<< HEAD' in content:
            print("Git merge conflicts detected in CSV file!")
            
            # Remove Git merge markers
            lines = content.split('\n')
            clean_lines = []
            
            for line in lines:
                # Skip Git merge conflict markers
                if not any(marker in line for marker in ['<<<<<<< HEAD', '=======', '>>>>>>> ']):
                    clean_lines.append(line)
            
            # Recreate the CSV content
            clean_content = '\n'.join(clean_lines)
            
            # Load as DataFrame
            clean_df = pd.read_csv(io.StringIO(clean_content))
            
            print(f"Fixed! Clean dataset shape: {clean_df.shape}")
            print(f"Clean columns: {clean_df.columns.tolist()}")
            
            return clean_df
        else:
            # No conflicts, load normally
            return pd.read_csv(file_path)
            
    except Exception as e:
        print(f"Error fixing CSV: {e}")
        return None

# Clean and reload your flower visitation data
flower_visitation_data = clean_git_conflicts_from_csv('../data/2013_2015_flower_visitation_data.csv')

if flower_visitation_data is not None:
    print("Successfully loaded clean data!")
    print(flower_visitation_data.head())

Successfully loaded clean data!
    Farm Type Round       Date             Species Number   Caste  \
0  Farm1  ELS  Four  11/8/2013    Andrena minutula      1  Female
1  Farm1  ELS  Four  11/8/2013    Andrena minutula      3  Female
2  Farm1  ELS  Four   5/8/2014    Andrena minutula      1  Female
3  Farm1  ELS  Four   5/8/2014  Halictus tumulorum      1    Male
4  Farm1  ELS  Four   5/8/2014  Halictus tumulorum      3    Male

                   Visiting Status Purpose      Family
0     Heracleum sphondylium   Wild  Pollen    Apiaceae
1     Heracleum sphondylium   Wild  Pollen    Apiaceae
2     Heracleum sphondylium   Wild  Pollen    Apiaceae
3  Helminthotheca echioides   Wild  Nectar  Asteraceae
4     Pulicaria dysenterica   Wild  Nectar  Asteraceae

In [43]:
def safe_binning(df, column_name, bins, labels=None, bin_suffix='_binned'):
    """Safely create bins for a numeric column"""
    
    # Check if column exists
    if column_name not in df.columns:
        print(f"Column '{column_name}' not found. Available columns:")
        print(df.columns.tolist())
        return df
    
    # Check if column is numeric
    if df[column_name].dtype not in ['int64', 'float64']:
        print(f"Column '{column_name}' is not numeric (type: {df[column_name].dtype})")
        print(f"Sample values: {df[column_name].unique()[:5]}")
        return df
    
    # Check for missing values
    if df[column_name].isnull().any():
        print(f"Warning: Column '{column_name}' has {df[column_name].isnull().sum()} missing values")
    
    try:
        # Create the binned column
        new_column_name = f"{column_name}{bin_suffix}"
        df[new_column_name] = pd.cut(df[column_name], bins=bins, labels=labels)
        
        print(f"Successfully created binned column: '{new_column_name}'")
        print(f"Bin distribution:")
        print(df[new_column_name].value_counts().sort_index())
        
        return df
        
    except Exception as e:
        print(f"Error creating bins: {e}")
        return df

# Usage example
# flower_visitation_data = safe_binning(
#     flower_visitation_data, 
#     'your_numeric_column', 
#     bins=[0, 10, 20, 30], 
#     labels=['Low', 'Medium', 'High']
# )

In [44]:
# Explore your flower visitation data
print("Dataset Info:")
print(flower_visitation_data.info())

print("\nNumeric columns that can be binned:")
numeric_cols = flower_visitation_data.select_dtypes(include=['int64', 'float64']).columns
for col in numeric_cols:
    print(f"- {col}: range {flower_visitation_data[col].min()} to {flower_visitation_data[col].max()}")

print("\nFirst few rows:")
print(flower_visitation_data.head())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2467 entries, 0 to 2466
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Farm      2467 non-null   object
 1   Type      2465 non-null   object
 2   Round     2465 non-null   object
 3   Date      2465 non-null   object
 4   Species   2465 non-null   object
 5   Number    2465 non-null   object
 6   Caste     2465 non-null   object
 7   Visiting  2465 non-null   object
 8   Status    2465 non-null   object
 9   Purpose   2465 non-null   object
 10  Family    2465 non-null   object
dtypes: object(11)
memory usage: 212.1+ KB
None

Numeric columns that can be binned:

First few rows:
    Farm Type Round       Date             Species Number   Caste  \
0  Farm1  ELS  Four  11/8/2013    Andrena minutula      1  Female
1  Farm1  ELS  Four  11/8/2013    Andrena minutula      3  Female
2  Farm1  ELS  Four   5/8/2014    Andrena minutula      1  Female
3  Farm1  ELS  Four   5/8/2014  Halictus tumulorum      1    Male
4  Farm1  ELS  Four   5/8/2014  Halictus tumulorum      3    Male

                   Visiting Status Purpose      Family
0     Heracleum sphondylium   Wild  Pollen    Apiaceae
1     Heracleum sphondylium   Wild  Pollen    Apiaceae
2     Heracleum sphondylium   Wild  Pollen    Apiaceae
3  Helminthotheca echioides   Wild  Nectar  Asteraceae
4     Pulicaria dysenterica   Wild  Nectar  Asteraceae