In [1]:
import pandas as pd

In [2]:
#Read in the dataset
flower_visitation_data = pd.read_csv('../data/2013_2015_flower_visitation_data.csv')

In [3]:
#First look at the dataset
flower_visitation_data

,Farm,Type,Round,Date,Species,Number,Caste,Visiting,Status,Purpose,Family
0,Farm1,ELS,Four,11/8/2013,Andrena minutula,1,Female,Heracleum sphondylium,Wild,Pollen,Apiaceae
1,Farm1,ELS,Four,11/8/2013,Andrena minutula,3,Female,Heracleum sphondylium,Wild,Pollen,Apiaceae
2,Farm1,ELS,Four,5/8/2014,Andrena minutula,1,Female,Heracleum sphondylium,Wild,Pollen,Apiaceae
3,Farm1,ELS,Four,5/8/2014,Halictus tumulorum,1,Male,Helminthotheca echioides,Wild,Nectar,Asteraceae
4,Farm1,ELS,Four,5/8/2014,Halictus tumulorum,3,Male,Pulicaria dysenterica,Wild,Nectar,Asteraceae
...,...,...,...,...,...,...,...,...,...,...,...
2462,Farm9,HLS,Two,9/6/2015,Andrena semilaevis,5,Female,Heracleum sphondylium,Wild,Pollen,Apiaceae
2463,Farm9,HLS,Two,9/6/2015,Andrena semilaevis,1,Male,Taraxacum agg.,Wild,Nectar,Asteraceae
2464,Farm9,HLS,Two,9/6/2015,Lasioglossum villosulum,1,Female,Crepis vesicaria,Wild,Pollen,Asteraceae
2465,Farm9,HLS,Two,9/6/2015,Sphecodes spinulosus,1,Male,Taraxacum agg.,Wild,Nectar,Asteraceae
2466,>>>>>>> 4190a2576b8c680e0fe22605b816e30a71cc96e6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Drop/rename columns
flower_visitation_data.columns

Index(['Farm', 'Type', 'Round', 'Date', 'Species', 'Number', 'Caste',
       'Visiting', 'Status', 'Purpose', 'Family'],
      dtype='object')

In [5]:
# Data has been cleaned - no need to drop columns
flower_visitation_data.head(10)

,Farm,Type,Round,Date,Species,Number,Caste,Visiting,Status,Purpose,Family
0,Farm1,ELS,Four,11/8/2013,Andrena minutula,1,Female,Heracleum sphondylium,Wild,Pollen,Apiaceae
1,Farm1,ELS,Four,11/8/2013,Andrena minutula,3,Female,Heracleum sphondylium,Wild,Pollen,Apiaceae
2,Farm1,ELS,Four,5/8/2014,Andrena minutula,1,Female,Heracleum sphondylium,Wild,Pollen,Apiaceae
3,Farm1,ELS,Four,5/8/2014,Halictus tumulorum,1,Male,Helminthotheca echioides,Wild,Nectar,Asteraceae
4,Farm1,ELS,Four,5/8/2014,Halictus tumulorum,3,Male,Pulicaria dysenterica,Wild,Nectar,Asteraceae
5,Farm1,ELS,Four,5/8/2014,Lasioglossum leucozonium,1,Male,Pulicaria dysenterica,Wild,Nectar,Asteraceae
6,Farm1,ELS,Four,5/8/2014,Lasioglossum malachurum,2,Male,Heracleum sphondylium,Wild,Nectar,Apiaceae
7,Farm1,ELS,Four,5/8/2014,Lasioglossum morio,1,Female,Heracleum sphondylium,Wild,Pollen,Apiaceae
8,Farm1,ELS,Four,5/8/2014,Lasioglossum pauxillum,1,Male,Tripleurospermum inodorum,Wild,Nectar,Asteraceae
9,Farm1,ELS,Four,5/8/2014,Lasioglossum villosulum,1,Male,Pulicaria dysenterica,Wild,Nectar,Asteraceae

In [6]:
#NaNs
flower_visitation_data.isna().sum() * 100 / len(flower_visitation_data)

Farm        0.00000
Type        0.08107
Round       0.08107
Date        0.08107
Species     0.08107
Number      0.08107
Caste       0.08107
Visiting    0.08107
Status      0.08107
Purpose     0.08107
Family      0.08107
dtype: float64

In [7]:
# Check what's actually in your DataFrame
print("Current DataFrame info:")
print(f"Shape: {flower_visitation_data.shape}")
print(f"Columns: {flower_visitation_data.columns.tolist()}")

# Find columns that aren't Git conflict markers
normal_columns = [col for col in flower_visitation_data.columns 
                 if not any(marker in str(col) for marker in ['<<<<<<<', '=======', '>>>>>>>'])]

if normal_columns:
    print(f"\nNormal columns found: {normal_columns}")
    
    # Explore the first normal column
    first_col = normal_columns[0]
    print(f"\nExploring '{first_col}':")
    print(f"Unique values: {flower_visitation_data[first_col].unique()}")
    
else:
    print("\nNo normal columns found - CSV needs manual fixing")
    print("The file contains Git merge conflict markers that need to be resolved")

Current DataFrame info:
Shape: (2467, 11)
Columns: ['Farm', 'Type', 'Round', 'Date', 'Species', 'Number', 'Caste', 'Visiting', 'Status', 'Purpose', 'Family']

Normal columns found: ['Farm', 'Type', 'Round', 'Date', 'Species', 'Number', 'Caste', 'Visiting', 'Status', 'Purpose', 'Family']

Exploring 'Farm':
Unique values: ['Farm1' 'Farm10' 'Farm11' 'Farm12' 'Farm13' 'Farm14' 'Farm15' 'Farm16'
 'Farm17' 'Farm18' 'Farm19' 'Farm2' 'Farm3' 'Farm4' 'Farm5' 'Farm6'
 'Farm7' 'Farm8' 'Farm9' '=======' 'Farm'
 '>>>>>>> 4190a2576b8c680e0fe22605b816e30a71cc96e6']

In [8]:
# Safe way to explore your data
print("Dataset overview:")
print(flower_visitation_data.info())

print("\nAll columns:")
for col in flower_visitation_data.columns:
    print(f"'{col}': {flower_visitation_data[col].dtype}")

# If you want to see unique values in the first column:
if len(flower_visitation_data.columns) > 0:
    first_column = flower_visitation_data.columns[0]
    print(f"\nUnique values in '{first_column}':")
    print(flower_visitation_data[first_column].unique())

Dataset overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2467 entries, 0 to 2466
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Farm      2467 non-null   object
 1   Type      2465 non-null   object
 2   Round     2465 non-null   object
 3   Date      2465 non-null   object
 4   Species   2465 non-null   object
 5   Number    2465 non-null   object
 6   Caste     2465 non-null   object
 7   Visiting  2465 non-null   object
 8   Status    2465 non-null   object
 9   Purpose   2465 non-null   object
 10  Family    2465 non-null   object
dtypes: object(11)
memory usage: 212.1+ KB
None

All columns:
'Farm': object
'Type': object
'Round': object
'Date': object
'Species': object
'Number': object
'Caste': object
'Visiting': object
'Status': object
'Purpose': object
'Family': object

Unique values in 'Farm':
['Farm1' 'Farm10' 'Farm11' 'Farm12' 'Farm13' 'Farm14' 'Farm15' 'Farm16'
 'Farm17' 'Farm18' 'Farm19' 'Farm2' 'Farm3' 'Farm4' 'Farm5' 'Farm6'
 'Farm7' 'Farm8' 'Farm9' '=======' 'Farm'
 '>>>>>>> 4190a2576b8c680e0fe22605b816e30a71cc96e6']

In [9]:
#Check column data types
flower_visitation_data.dtypes

Farm        object
Type        object
Round       object
Date        object
Species     object
Number      object
Caste       object
Visiting    object
Status      object
Purpose     object
Family      object
dtype: object

In [10]:
import pandas as pd
import io

def clean_git_conflicts_from_csv(file_path):
    """Remove Git merge conflict markers from CSV file"""
    
    try:
        # Read the raw file
        with open(file_path, 'r') as f:
            content = f.read()
        
        # Check if it has merge conflicts
        if '<<<<<<< HEAD' in content:
            print("Git merge conflicts detected in CSV file!")
            
            # Remove Git merge markers
            lines = content.split('\n')
            clean_lines = []
            
            for line in lines:
                # Skip Git merge conflict markers
                if not any(marker in line for marker in ['<<<<<<< HEAD', '=======', '>>>>>>> ']):
                    clean_lines.append(line)
            
            # Recreate the CSV content
            clean_content = '\n'.join(clean_lines)
            
            # Load as DataFrame
            clean_df = pd.read_csv(io.StringIO(clean_content))
            
            print(f"Fixed! Clean dataset shape: {clean_df.shape}")
            print(f"Clean columns: {clean_df.columns.tolist()}")
            
            return clean_df
        else:
            # No conflicts, load normally
            return pd.read_csv(file_path)
            
    except Exception as e:
        print(f"Error fixing CSV: {e}")
        return None

# Clean and reload your flower visitation data
flower_visitation_data = clean_git_conflicts_from_csv('../data/2013_2015_flower_visitation_data.csv')

if flower_visitation_data is not None:
    print("Successfully loaded clean data!")
    print(flower_visitation_data.head())

Successfully loaded clean data!
    Farm Type Round       Date             Species Number   Caste  \
0  Farm1  ELS  Four  11/8/2013    Andrena minutula      1  Female
1  Farm1  ELS  Four  11/8/2013    Andrena minutula      3  Female
2  Farm1  ELS  Four   5/8/2014    Andrena minutula      1  Female
3  Farm1  ELS  Four   5/8/2014  Halictus tumulorum      1    Male
4  Farm1  ELS  Four   5/8/2014  Halictus tumulorum      3    Male

                   Visiting Status Purpose      Family
0     Heracleum sphondylium   Wild  Pollen    Apiaceae
1     Heracleum sphondylium   Wild  Pollen    Apiaceae
2     Heracleum sphondylium   Wild  Pollen    Apiaceae
3  Helminthotheca echioides   Wild  Nectar  Asteraceae
4     Pulicaria dysenterica   Wild  Nectar  Asteraceae

In [11]:
def safe_binning(df, column_name, bins, labels=None, bin_suffix='_binned'):
    """Safely create bins for a numeric column"""
    
    # Check if column exists
    if column_name not in df.columns:
        print(f"Column '{column_name}' not found. Available columns:")
        print(df.columns.tolist())
        return df
    
    # Check if column is numeric
    if df[column_name].dtype not in ['int64', 'float64']:
        print(f"Column '{column_name}' is not numeric (type: {df[column_name].dtype})")
        print(f"Sample values: {df[column_name].unique()[:5]}")
        return df
    
    # Check for missing values
    if df[column_name].isnull().any():
        print(f"Warning: Column '{column_name}' has {df[column_name].isnull().sum()} missing values")
    
    try:
        # Create the binned column
        new_column_name = f"{column_name}{bin_suffix}"
        df[new_column_name] = pd.cut(df[column_name], bins=bins, labels=labels)
        
        print(f"Successfully created binned column: '{new_column_name}'")
        print(f"Bin distribution:")
        print(df[new_column_name].value_counts().sort_index())
        
        return df
        
    except Exception as e:
        print(f"Error creating bins: {e}")
        return df

# Usage example
# flower_visitation_data = safe_binning(
#     flower_visitation_data, 
#     'your_numeric_column', 
#     bins=[0, 10, 20, 30], 
#     labels=['Low', 'Medium', 'High']
# )

In [12]:
# Explore your flower visitation data
print("Dataset Info:")
print(flower_visitation_data.info())

print("\nNumeric columns that can be binned:")
numeric_cols = flower_visitation_data.select_dtypes(include=['int64', 'float64']).columns
for col in numeric_cols:
    print(f"- {col}: range {flower_visitation_data[col].min()} to {flower_visitation_data[col].max()}")

print("\nFirst few rows:")
print(flower_visitation_data.head())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2467 entries, 0 to 2466
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Farm      2467 non-null   object
 1   Type      2465 non-null   object
 2   Round     2465 non-null   object
 3   Date      2465 non-null   object
 4   Species   2465 non-null   object
 5   Number    2465 non-null   object
 6   Caste     2465 non-null   object
 7   Visiting  2465 non-null   object
 8   Status    2465 non-null   object
 9   Purpose   2465 non-null   object
 10  Family    2465 non-null   object
dtypes: object(11)
memory usage: 212.1+ KB
None

Numeric columns that can be binned:

First few rows:
    Farm Type Round       Date             Species Number   Caste  \
0  Farm1  ELS  Four  11/8/2013    Andrena minutula      1  Female
1  Farm1  ELS  Four  11/8/2013    Andrena minutula      3  Female
2  Farm1  ELS  Four   5/8/2014    Andrena minutula      1  Female
3  Farm1  ELS  Four   5/8/2014  Halictus tumulorum      1    Male
4  Farm1  ELS  Four   5/8/2014  Halictus tumulorum      3    Male

                   Visiting Status Purpose      Family
0     Heracleum sphondylium   Wild  Pollen    Apiaceae
1     Heracleum sphondylium   Wild  Pollen    Apiaceae
2     Heracleum sphondylium   Wild  Pollen    Apiaceae
3  Helminthotheca echioides   Wild  Nectar  Asteraceae
4     Pulicaria dysenterica   Wild  Nectar  Asteraceae

In [13]:
flower_visitation_data.head()

,Farm,Type,Round,Date,Species,Number,Caste,Visiting,Status,Purpose,Family
0,Farm1,ELS,Four,11/8/2013,Andrena minutula,1,Female,Heracleum sphondylium,Wild,Pollen,Apiaceae
1,Farm1,ELS,Four,11/8/2013,Andrena minutula,3,Female,Heracleum sphondylium,Wild,Pollen,Apiaceae
2,Farm1,ELS,Four,5/8/2014,Andrena minutula,1,Female,Heracleum sphondylium,Wild,Pollen,Apiaceae
3,Farm1,ELS,Four,5/8/2014,Halictus tumulorum,1,Male,Helminthotheca echioides,Wild,Nectar,Asteraceae
4,Farm1,ELS,Four,5/8/2014,Halictus tumulorum,3,Male,Pulicaria dysenterica,Wild,Nectar,Asteraceae

In [14]:
# Check available columns
print(flower_visitation_data.columns.tolist())
# or
print(flower_visitation_data.info())

['Farm', 'Type', 'Round', 'Date', 'Species', 'Number', 'Caste', 'Visiting', 'Status', 'Purpose', 'Family']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2467 entries, 0 to 2466
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Farm      2467 non-null   object
 1   Type      2465 non-null   object
 2   Round     2465 non-null   object
 3   Date      2465 non-null   object
 4   Species   2465 non-null   object
 5   Number    2465 non-null   object
 6   Caste     2465 non-null   object
 7   Visiting  2465 non-null   object
 8   Status    2465 non-null   object
 9   Purpose   2465 non-null   object
 10  Family    2465 non-null   object
dtypes: object(11)
memory usage: 212.1+ KB
None

In [15]:
# Find columns that might contain dates
for col in flower_visitation_data.columns:
    sample_value = flower_visitation_data[col].dropna().iloc[0] if not flower_visitation_data[col].dropna().empty else None
    if sample_value and isinstance(sample_value, str) and '-' in str(sample_value):
        print(f"Potential date column: '{col}' - Sample: {sample_value}")

In [16]:
import pandas as pd

In [17]:
#Load datasets
pollen_df = pd.read_csv('../data/2015_pollen_load_data.csv')
visit_df = pd.read_csv('../data/2013_2015_flower_visitation_data.csv')

In [18]:
print(pollen_df.head())

    Farm Type Round        Date              Species  Load         Netted on  \
0  Farm1  ELS   One  24/04/2015      Andrena bicolor     1  Sinapis arvensis
1  Farm1  ELS   One  24/04/2015      Andrena bicolor  0.25  Sinapis arvensis
2  Farm1  ELS   One  24/04/2015      Andrena bicolor  0.75  Sinapis arvensis
3  Farm1  ELS   One  24/04/2015  Andrena carantonica     1        vegetation
4  Farm1  ELS   One  24/04/2015  Andrena carantonica     1        vegetation

       Plant pollen Status Proportion Weight
0  Sinapis arvensis   Wild        100    100
1  Sinapis arvensis   Wild        100     25
2  Sinapis arvensis   Wild        100     75
3    Acer campestre   Wild        100    100
4    Acer campestre   Wild        100    100

In [19]:
#Summary of pollen load and visit frequency
print(pollen_df['Load'].describe())

count     3521
unique       8
top          1
freq      1318
Name: Load, dtype: object

In [20]:
print(visit_df['Visiting'].describe() )

count               2465
unique               105
top       Taraxacum agg.
freq                 304
Name: Visiting, dtype: object

In [21]:
#Average pollen load per flower species
# Check what's actually in the 'Load' column
print("Load column data type:")
print(pollen_df['Load'].dtype)

print("\nUnique values in 'Load' column:")
print(pollen_df['Load'].unique())

print("\nFirst 10 values:")
print(pollen_df['Load'].head(10))

print("\nValue counts:")
print(pollen_df['Load'].value_counts())

Load column data type:
object

Unique values in 'Load' column:
['1' '0.25' '0.75' '0.5' '0.125' '0.0625' '0.6666' nan 'Load']

First 10 values:
0       1
1    0.25
2    0.75
3       1
4       1
5     0.5
6    0.75
7    0.75
8       1
9       1
Name: Load, dtype: object

Value counts:
Load
1         1318
0.5        730
0.75       624
0.25       406
0.125      236
0.0625     204
0.6666       2
Load         1
Name: count, dtype: int64

In [22]:
# If 'Load' contains numeric values stored as strings
pollen_df['Load'] = pd.to_numeric(pollen_df['Load'], errors='coerce')

# Then calculate the mean
avg_pollen_load = pollen_df.groupby('Species')['Load'].mean().sort_values(ascending=False)
print(avg_pollen_load)

Species
Andrena angustior              1.000000
Megachile centuncularis        1.000000
Osmia leaiana                  1.000000
Melitta tricincta              1.000000
Melitta leporina               1.000000
Andrena trimmerana             1.000000
Anthophora plumipes            1.000000
Lasioglossum puncticolle       1.000000
Osmia caerulescens             1.000000
Andrena carantonica            0.949074
Andrena florea                 0.916667
Lasioglossum zonulum           0.886364
Andrena alfkenella             0.875000
Colletes daviesanus            0.875000
Andrena fulva                  0.833333
Andrena nitida                 0.825658
Andrena flavipes               0.778153
Lasioglossum malachurum        0.750259
Lasioglossum laevigatum        0.750000
Lasioglossum leucozonium       0.743534
Andrena chrysosceles           0.699755
Andrena wilkella               0.666667
Andrena dorsata                0.660985
Andrena minutuloides           0.659091
Lasioglossum fulvicorne        0.638889
Andrena bicolor                0.633152
Andrena haemorrhoa             0.611426
Lasioglossum xanthopus         0.604167
Lasioglossum calceatum         0.572183
Lasioglossum villosulum        0.543981
Andrena subopaca               0.523438
Andrena labiata                0.522727
Lasioglossum albipes           0.500000
Halictus tumulorum             0.487847
Lasioglossum pauxillum         0.484681
Andrena cineraria              0.454861
Andrena minutula               0.446759
Andrena nigroaenea             0.410985
Andrena semilaevis             0.383809
Lasioglossum morio             0.375000
Lasioglossum smeathmanellum    0.333333
Lasioglossum lativentre        0.306250
Lasioglossum parvulum          0.299107
Andrena helvola                0.250000
Osmia spinulosa                0.250000
Lasioglossum leucopus          0.149038
Hylaeus cornutus               0.062500
Species                             NaN
Name: Load, dtype: float64

In [23]:
def safe_numeric_groupby(df, group_col, value_col):
    """Safely calculate mean after converting to numeric"""
    
    print(f"Analyzing '{value_col}' column:")
    print(f"Data type: {df[value_col].dtype}")
    print(f"Sample values: {df[value_col].dropna().head().tolist()}")
    
    # Try converting to numeric
    df_copy = df.copy()
    df_copy[f'{value_col}_numeric'] = pd.to_numeric(df_copy[value_col], errors='coerce')
    
    # Check how many values were converted
    before_count = df_copy[value_col].notna().sum()
    after_count = df_copy[f'{value_col}_numeric'].notna().sum()
    
    print(f"Conversion results: {after_count}/{before_count} values successfully converted to numeric")
    
    if after_count > 0:
        # Calculate mean using numeric version
        result = df_copy.groupby(group_col)[f'{value_col}_numeric'].mean().sort_values(ascending=False)
        return result
    else:
        print("No numeric values found. Showing value counts instead:")
        return df_copy.groupby(group_col)[value_col].value_counts()

# Use the safe function
avg_pollen_load = safe_numeric_groupby(pollen_df, 'Species', 'Load')
print(avg_pollen_load)

Analyzing 'Load' column:
Data type: float64
Sample values: [1.0, 0.25, 0.75, 1.0, 1.0]
Conversion results: 3520/3520 values successfully converted to numeric
Species
Andrena angustior              1.000000
Megachile centuncularis        1.000000
Osmia leaiana                  1.000000
Melitta tricincta              1.000000
Melitta leporina               1.000000
Andrena trimmerana             1.000000
Anthophora plumipes            1.000000
Lasioglossum puncticolle       1.000000
Osmia caerulescens             1.000000
Andrena carantonica            0.949074
Andrena florea                 0.916667
Lasioglossum zonulum           0.886364
Andrena alfkenella             0.875000
Colletes daviesanus            0.875000
Andrena fulva                  0.833333
Andrena nitida                 0.825658
Andrena flavipes               0.778153
Lasioglossum malachurum        0.750259
Lasioglossum laevigatum        0.750000
Lasioglossum leucozonium       0.743534
Andrena chrysosceles           0.699755
Andrena wilkella               0.666667
Andrena dorsata                0.660985
Andrena minutuloides           0.659091
Lasioglossum fulvicorne        0.638889
Andrena bicolor                0.633152
Andrena haemorrhoa             0.611426
Lasioglossum xanthopus         0.604167
Lasioglossum calceatum         0.572183
Lasioglossum villosulum        0.543981
Andrena subopaca               0.523438
Andrena labiata                0.522727
Lasioglossum albipes           0.500000
Halictus tumulorum             0.487847
Lasioglossum pauxillum         0.484681
Andrena cineraria              0.454861
Andrena minutula               0.446759
Andrena nigroaenea             0.410985
Andrena semilaevis             0.383809
Lasioglossum morio             0.375000
Lasioglossum smeathmanellum    0.333333
Lasioglossum lativentre        0.306250
Lasioglossum parvulum          0.299107
Andrena helvola                0.250000
Osmia spinulosa                0.250000
Lasioglossum leucopus          0.149038
Hylaeus cornutus               0.062500
Species                             NaN
Name: Load_numeric, dtype: float64

In [24]:
#Merge datasets 
merged_df = pd.merge(pollen_df, visit_df, on=['Species', 'Species'], how='inner')

In [25]:
#Average pollen load per bee species
avg_pollen_by_flower = merged_df.groupby('Species')['Load'].mean().sort_values(ascending=False)
print(avg_pollen_by_flower)

Species
Megachile centuncularis        1.000000
Osmia leaiana                  1.000000
Melitta tricincta              1.000000
Melitta leporina               1.000000
Andrena trimmerana             1.000000
Anthophora plumipes            1.000000
Lasioglossum puncticolle       1.000000
Osmia caerulescens             1.000000
Andrena carantonica            0.949074
Andrena florea                 0.916667
Lasioglossum zonulum           0.886364
Andrena alfkenella             0.875000
Colletes daviesanus            0.875000
Andrena fulva                  0.833333
Andrena nitida                 0.825658
Andrena flavipes               0.778153
Lasioglossum malachurum        0.750259
Lasioglossum laevigatum        0.750000
Lasioglossum leucozonium       0.743534
Andrena chrysosceles           0.699755
Andrena wilkella               0.666667
Andrena dorsata                0.660985
Andrena minutuloides           0.659091
Lasioglossum fulvicorne        0.638889
Andrena bicolor                0.633152
Andrena haemorrhoa             0.611426
Lasioglossum xanthopus         0.604167
Lasioglossum calceatum         0.572183
Lasioglossum villosulum        0.543981
Andrena subopaca               0.523438
Andrena labiata                0.522727
Lasioglossum albipes           0.500000
Halictus tumulorum             0.487847
Lasioglossum pauxillum         0.484681
Andrena cineraria              0.454861
Andrena minutula               0.446759
Andrena nigroaenea             0.410985
Andrena semilaevis             0.383809
Lasioglossum morio             0.375000
Lasioglossum smeathmanellum    0.333333
Lasioglossum lativentre        0.306250
Lasioglossum parvulum          0.299107
Andrena helvola                0.250000
Osmia spinulosa                0.250000
Lasioglossum leucopus          0.149038
Hylaeus cornutus               0.062500
Species                             NaN
Name: Load, dtype: float64

In [26]:
# Most visited flower species by bee species
# First, verify the merged DataFrame structure
print("Merged DataFrame info:")
print(merged_df.columns.tolist())
print(merged_df.head())

# Check if the columns you're trying to use actually exist
required_cols = ['bee_species', 'flower_species', 'visit_frequency']
missing_cols = [col for col in required_cols if col not in merged_df.columns]

if missing_cols:
    print(f"Missing columns: {missing_cols}")
    print("Available columns:", merged_df.columns.tolist())
else:
    print("All required columns found!")

Merged DataFrame info:
['Farm_x', 'Type_x', 'Round_x', 'Date_x', 'Species', 'Load', 'Netted on', 'Plant pollen', 'Status_x', 'Proportion', 'Weight', 'Farm_y', 'Type_y', 'Round_y', 'Date_y', 'Number', 'Caste', 'Visiting', 'Status_y', 'Purpose', 'Family']
  Farm_x Type_x Round_x      Date_x          Species  Load         Netted on  \
0  Farm1    ELS     One  24/04/2015  Andrena bicolor   1.0  Sinapis arvensis
1  Farm1    ELS     One  24/04/2015  Andrena bicolor   1.0  Sinapis arvensis
2  Farm1    ELS     One  24/04/2015  Andrena bicolor   1.0  Sinapis arvensis
3  Farm1    ELS     One  24/04/2015  Andrena bicolor   1.0  Sinapis arvensis
4  Farm1    ELS     One  24/04/2015  Andrena bicolor   1.0  Sinapis arvensis

       Plant pollen Status_x Proportion  ...  Farm_y Type_y Round_y  \
0  Sinapis arvensis     Wild        100  ...   Farm1    ELS     One
1  Sinapis arvensis     Wild        100  ...  Farm11    ELS   Three
2  Sinapis arvensis     Wild        100  ...  Farm11    ELS    Four
3  Sinapis arvensis     Wild        100  ...  Farm11    ELS    Four
4  Sinapis arvensis     Wild        100  ...  Farm11    ELS     One

       Date_y Number   Caste               Visiting Status_y Purpose  \
0  24/04/2015      3  Female       Sinapis arvensis     Wild  Pollen
1    6/7/2014      1  Female  Heracleum sphondylium     Wild  Nectar
2  31/07/2015      1  Female       Clematis vitalba     Wild  Nectar
3  31/07/2015      1  Female  Rubus fruticosus agg.     Wild  Nectar
4   11/5/2015      1    Male         Taraxacum agg.     Wild  Nectar

          Family
0   Brassicaceae
1       Apiaceae
2  Ranunculaceae
3       Rosaceae
4     Asteraceae

[5 rows x 21 columns]
Missing columns: ['bee_species', 'flower_species', 'visit_frequency']
Available columns: ['Farm_x', 'Type_x', 'Round_x', 'Date_x', 'Species', 'Load', 'Netted on', 'Plant pollen', 'Status_x', 'Proportion', 'Weight', 'Farm_y', 'Type_y', 'Round_y', 'Date_y', 'Number', 'Caste', 'Visiting', 'Status_y', 'Purpose', 'Family']

In [27]:
# Safe version that checks for column existence
def analyze_flower_preferences(df):
    """Safely analyze flower preferences by bee species"""
    
    # Check if DataFrame exists and has data
    if df is None or df.empty:
        print("No data available for analysis")
        return None
    
    print(f"DataFrame shape: {df.shape}")
    print(f"Columns: {df.columns.tolist()}")
    
    # Look for likely column names
    bee_col = None
    flower_col = None
    visit_col = None
    
    # Find bee-related column
    for col in df.columns:
        if 'bee' in col.lower() or 'species' in col.lower():
            bee_col = col
            break
    
    # Find flower-related column
    for col in df.columns:
        if 'flower' in col.lower() or 'plant' in col.lower():
            flower_col = col
            break
    
    # Find visit-related column
    for col in df.columns:
        if any(term in col.lower() for term in ['visit', 'freq', 'count']):
            visit_col = col
            break
    
    if bee_col and flower_col and visit_col:
        print(f"Using columns: bee='{bee_col}', flower='{flower_col}', visits='{visit_col}'")
        
        try:
            pref_flowers = df.groupby([bee_col, flower_col])[visit_col].sum().reset_index()
            top_pref = pref_flowers.sort_values([bee_col, visit_col], ascending=[True, False]).groupby(bee_col).head(1)
            return top_pref
        except Exception as e:
            print(f"Error in analysis: {e}")
            return None
    else:
        print("Could not identify the required columns automatically")
        return None

# Use the safe function
result = analyze_flower_preferences(merged_df)
if result is not None:
    print(result)

DataFrame shape: (647301, 21)
Columns: ['Farm_x', 'Type_x', 'Round_x', 'Date_x', 'Species', 'Load', 'Netted on', 'Plant pollen', 'Status_x', 'Proportion', 'Weight', 'Farm_y', 'Type_y', 'Round_y', 'Date_y', 'Number', 'Caste', 'Visiting', 'Status_y', 'Purpose', 'Family']
Using columns: bee='Species', flower='Plant pollen', visits='Visiting'
                         Species               Plant pollen  \
0             Andrena alfkenella              Daucus carota
17               Andrena bicolor             Taraxacum agg.
21           Andrena carantonica              Brassica-type
34          Andrena chrysosceles      Heracleum sphondylium
54             Andrena cineraria      Sisymbrium officinale
64               Andrena dorsata      Rubus fruticosus agg.
82              Andrena flavipes     Pulicharia dysenterica
98                Andrena florea             Bryonia dioica
100                Andrena fulva              Brassica-type
106           Andrena haemorrhoa         Crataegus monogyna
119              Andrena helvola            Bellis perennis
124              Andrena labiata          Ranunculus repens
133             Andrena minutula      Heracleum sphondylium
140         Andrena minutuloides              Daucus carota
146           Andrena nigroaenea      Heracleum sphondylium
160               Andrena nitida              Brassica-type
177           Andrena semilaevis      Chaerophyllum temulum
193             Andrena subopaca      Chaerophyllum temulum
205           Andrena trimmerana      Rubus fruticosus agg.
206             Andrena wilkella           Trifolium repens
208          Anthophora plumipes         Glechoma hederacea
211          Colletes daviesanus       Achillea millefolium
220           Halictus tumulorum       Leucanthemum vulgare
231             Hylaeus cornutus              Daucus carota
232         Lasioglossum albipes           Ranunculus acris
263       Lasioglossum calceatum             Taraxacum agg.
267      Lasioglossum fulvicorne         Alliaria petiolata
271      Lasioglossum laevigatum          Ranunculus repens
278      Lasioglossum lativentre           Trifolium repens
280        Lasioglossum leucopus      Chaerophyllum temulum
291     Lasioglossum leucozonium       Hypochaeris radicata
342      Lasioglossum malachurum  Tripleurospermum inodorum
345           Lasioglossum morio         Alliaria petiolata
360        Lasioglossum parvulum          Ranunculus repens
391       Lasioglossum pauxillum  Tripleurospermum inodorum
393     Lasioglossum puncticolle            Centaurea nigra
395  Lasioglossum smeathmanellum       Leucanthemum vulgare
398      Lasioglossum villosulum       Hypochaeris radicata
403       Lasioglossum xanthopus       Leucanthemum vulgare
409         Lasioglossum zonulum          Ranunculus repens
414      Megachile centuncularis           Cornus sanguinea
417             Melitta leporina            Medicago sativa
419            Melitta tricincta            Odontites verna
420           Osmia caerulescens           Trifolium repens
422                Osmia leaiana            Centaurea nigra
423              Osmia spinulosa       Achillea millefolium
425                      Species               Plant pollen

                                              Visiting
0    Daucus carotaDaucus carotaDaucus carotaDaucus ...
17   Sinapis arvensisHeracleum sphondyliumClematis ...
21   Sinapis arvensisOenanthe crocataBrassica rapa ...
34   Aegopodium podagricaChaerophyllum temulumHerac...
54   Heracleum sphondyliumBrassica rapa campestrisC...
64   Rubus fruticosus agg.Acer campestreSinapis arv...
82   Sinapis arvensisSinapis arvensisSinapis arvens...
98   Bryonia dioicaBryonia dioicaBryonia dioicaBryo...
100  Brassica rapa campestrisBrassica rapa campestr...
106  Prunus spinosaSinapis arvensisSinapis arvensis...
119  Taraxacum agg.Acer campestreTaraxacum agg.Chae...
124  Raphanus raphanistrumVeronica chamaedrysRaphan...
133  Heracleum sphondyliumHeracleum sphondyliumHera...
140  Daucus carotaDaucus carotaTorilis japonicaDauc...
146  Reseda luteaHeracleum sphondyliumLeucanthemum ...
160  Lamium albumSinapis arvensisSinapis arvensisHe...
177  Heracleum sphondyliumHeracleum sphondyliumDauc...
193  Veronica chamaedrysHeracleum sphondyliumAnthri...
205  Rubus fruticosus agg.Rubus fruticosus agg.Rubu...
206  Trifolium hybridumTrifolium repensLotus cornic...
208  Lamium purpureumLamium albumLamium albumLamium...
211  Tripleurospermum inodorumAchillea millefoliumL...
220  Helminthotheca echioidesPulicaria dysentericaT...
231  Heracleum sphondyliumLeucanthemum vulgareDaucu...
232  Heracleum sphondyliumRanunculus acrisLeontodon...
263  Tripleurospermum inodorumHeracleum sphondylium...
267  Alliaria petiolataAnthriscus sylvestrisPulicar...
271  Ranunculus repensRaphanus raphanistrumRanuncul...
278  Hypochaeris radicataTrifolium campestreTrifoli...
280  Chaerophyllum temulumChaerophyllum temulumBryo...
291  Pulicaria dysentericaDaucus carotaCrepis vesic...
342  Heracleum sphondyliumHelminthotheca echioidesH...
345  Heracleum sphondyliumLotus corniculatusStachys...
360  Hypochaeris radicataTaraxacum agg.Taraxacum ag...
391  Tripleurospermum inodorumTripleurospermum inod...
393  Hypochaeris radicataHypochaeris radicataTaraxa...
395  Ranunculus repensLeucanthemum vulgareRanunculu...
398  Pulicaria dysentericaHypochaeris radicataHypoc...
403  Leucanthemum vulgareLeucanthemum vulgareLeucan...
409  Lapsana communisCentaurea nigraCentaurea nigra...
414  Malva sylvestrisLeucanthemum vulgareCirsium ar...
417  Trifolium repensTrifolium pratenseTrifolium re...
419  Odontites vernaOdontites vernaOdontites vernaO...
420  Trifolium repensTrifolium repensTrifolium repe...
422  Crepis capillarisCrepis capillarisCentaurea ni...
423  Achillea millefoliumLeontodon hispidusHelminth...
425                                           Visiting

In [28]:
# Verify the merge was successful
print("Merged DataFrame exists:", 'merged_df' in locals())
print("Shape:", merged_df.shape if 'merged_df' in locals() else "Not found")

Merged DataFrame exists: True
Shape: (647301, 21)

In [29]:
# Check what DataFrames you actually have
print("Available DataFrames:")
if 'pollen_df' in locals():
    print(f"- pollen_df: shape {pollen_df.shape}")
if 'visit_df' in locals():
    print(f"- visit_df: shape {visit_df.shape}")
if 'merged_df' in locals():
    print(f"- merged_df: shape {merged_df.shape}")
if 'flower_visitation_data' in locals():
    print(f"- flower_visitation_data: shape {flower_visitation_data.shape}")

Available DataFrames:
- pollen_df: shape (3523, 11)
- visit_df: shape (2467, 11)
- merged_df: shape (647301, 21)
- flower_visitation_data: shape (2467, 11)

In [40]:
# Check what columns are actually in pollen_df
print("Available columns in pollen_df:")
print(pollen_df.columns.tolist())

# Check if 'Load' and 'Visiting' columns exist
if 'Load' in pollen_df.columns:
    print("âœ“ 'Load' column found")
else:
    print("âœ— 'Load' column not found")
    
if 'Visiting' in pollen_df.columns:
    print("âœ“ 'Visiting' column found")
else:
    print("âœ— 'Visiting' column not found")

Available columns in pollen_df:
['Farm', 'Type', 'Round', 'Date', 'Species', 'Load', 'Netted on', 'Plant pollen', 'Status', 'Proportion', 'Weight']
âœ“ 'Load' column found
âœ— 'Visiting' column not found

In [42]:
# Check what columns are actually in pollen_df
print("Available columns in pollen_df:")
print(pollen_df.columns.tolist())

# Check if 'Load' and 'Visiting' columns exist
if 'Load' in pollen_df.columns:
    print("âœ“ 'Load' column found")
else:
    print("âœ— 'Load' column not found")
    
if 'Visiting' in pollen_df.columns:
    print("âœ“ 'Visiting' column found")
else:
    print("âœ— 'Visiting' column not found")

Available columns in pollen_df:
['Farm', 'Type', 'Round', 'Date', 'Species', 'Load', 'Netted on', 'Plant pollen', 'Status', 'Proportion', 'Weight']
âœ“ 'Load' column found
âœ— 'Visiting' column not found

In [43]:
# Search for plant/species related columns
plant_columns = [col for col in visit_df.columns if 'plant' in col.lower()]
species_columns = [col for col in visit_df.columns if 'species' in col.lower()]
flower_columns = [col for col in visit_df.columns if 'flower' in col.lower()]

print(f"Plant-related columns: {plant_columns}")
print(f"Species-related columns: {species_columns}")
print(f"Flower-related columns: {flower_columns}")

Plant-related columns: []
Species-related columns: ['Species']
Flower-related columns: []

In [45]:
# Safe way to find the right columns
def find_grouping_columns(df):
    """Find columns that could be used for grouping plant/flower data"""
    
    print(f"DataFrame shape: {df.shape}")
    print(f"All columns: {df.columns.tolist()}")
    
    # Look for likely grouping columns
    grouping_candidates = []
    
    for col in df.columns:
        # Check if column contains categorical data (good for grouping)
        unique_count = df[col].nunique()
        total_count = len(df)
        
        # If unique values are much less than total rows, it's likely categorical
        if unique_count < total_count * 0.5 and unique_count > 1:
            sample_values = df[col].dropna().unique()[:5]
            grouping_candidates.append((col, unique_count, sample_values))
    
    print("\nPotential grouping columns:")
    for col, unique_count, samples in grouping_candidates:
        print(f"- '{col}': {unique_count} unique values, samples: {samples}")
    
    return grouping_candidates

# Find the right columns
candidates = find_grouping_columns(visit_df)

DataFrame shape: (2467, 11)
All columns: ['Farm', 'Type', 'Round', 'Date', 'Species', 'Number', 'Caste', 'Visiting', 'Status', 'Purpose', 'Family']

Potential grouping columns:
- 'Farm': 22 unique values, samples: ['Farm1' 'Farm10' 'Farm11' 'Farm12' 'Farm13']
- 'Type': 3 unique values, samples: ['ELS' 'HLS' 'Type']
- 'Round': 5 unique values, samples: ['Four' 'Three' 'Two' 'One' 'Round']
- 'Date': 84 unique values, samples: ['11/8/2013' '5/8/2014' '26/06/2014' '19/05/2014' '24/04/2015']
- 'Species': 87 unique values, samples: ['Andrena minutula' 'Halictus tumulorum' 'Lasioglossum leucozonium'
 'Lasioglossum malachurum' 'Lasioglossum morio']
- 'Number': 25 unique values, samples: ['1' '3' '2' '5' '36']
- 'Caste': 4 unique values, samples: ['Female' 'Male' 'Worker' 'Caste']
- 'Visiting': 105 unique values, samples: ['Heracleum sphondylium' 'Helminthotheca echioides'
 'Pulicaria dysenterica' 'Tripleurospermum inodorum'
 'Rubus fruticosus agg.']
- 'Status': 4 unique values, samples: ['Wild' 'Sown' 'Crop' 'Status']
- 'Purpose': 3 unique values, samples: ['Pollen' 'Nectar' 'Purpose']
- 'Family': 33 unique values, samples: ['Apiaceae' 'Asteraceae' 'Rosaceae' 'Cucurbitaceae' 'Malvaceae']

In [46]:
# Also verify the 'Visiting' column exists
if 'Visiting' in visit_df.columns:
    print("âœ“ 'Visiting' column found")
    print(f"Data type: {visit_df['Visiting'].dtype}")
    print(f"Sample values: {visit_df['Visiting'].head().tolist()}")
else:
    print("âœ— 'Visiting' column not found")
    visit_columns = [col for col in visit_df.columns if 'visit' in col.lower()]
    print(f"Visit-related columns: {visit_columns}")

âœ“ 'Visiting' column found
Data type: object
Sample values: ['Heracleum sphondylium', 'Heracleum sphondylium', 'Heracleum sphondylium', 'Helminthotheca echioides', 'Pulicaria dysenterica']

In [48]:
# Count how many times each visiting pattern occurs
visiting_counts = visit_df['Visiting'].value_counts()
print(visiting_counts)

Visiting
Taraxacum agg.               304
Heracleum sphondylium        278
Tripleurospermum inodorum    186
Leucanthemum vulgare         152
Centaurea nigra              116
                            ...
Sonchus asper                  2
Dipsacus fullonum              2
Lotus pedunculatus             2
Vicia sepium                   2
Visiting                       1
Name: count, Length: 105, dtype: int64

In [50]:
# Check what's in the 'Visiting' column
print("Unique values in 'Visiting':")
print(visit_df['Visiting'].unique())

# If it contains numbers stored as strings, convert first
visit_df['Visiting_numeric'] = pd.to_numeric(visit_df['Visiting'], errors='coerce')

# Then you could calculate overall mean (not grouped)
print("Average visiting frequency:", visit_df['Visiting_numeric'].mean())

Unique values in 'Visiting':
['Heracleum sphondylium' 'Helminthotheca echioides'
 'Pulicaria dysenterica' 'Tripleurospermum inodorum'
 'Rubus fruticosus agg.' 'Bryonia dioica' 'Malva sylvestris'
 'Acer campestre' 'Sinapis arvensis' 'Taraxacum agg.' 'Prunus spinosa'
 'Lamium album' 'Oenanthe crocata' 'Reseda lutea' 'Medicago sativa'
 'Ranunculus repens' 'Daucus carota' 'Senecio erucifolius'
 'Cirsium arvense' 'Lotus corniculatus' 'Stachys sylvatica'
 'Knautia arvensis' 'Leontodon hispidus' 'Achillea millefolium'
 'Centaurea nigra' 'Leucanthemum vulgare' 'Senecio jacobea'
 'Odontites verna' 'Brassica rapa campestris' 'Centaurea scabiosa'
 'Senecio vulgaris' 'Aegopodium podagrica' 'Chaerophyllum temulum'
 'Ranunculus acris' 'Veronica chamaedrys' 'Crepis vesicaria'
 'Convolvulus arvensis' 'Lapsana communis' 'Clematis vitalba'
 'Torilis japonica' 'Alliaria petiolata' 'Anthriscus sylvestris'
 'Viburnum lantana' 'Primula veris' 'Berberis vulgaris' 'Trifolium repens'
 'Trifolium hybridum' 'Veronica persica' 'Cornus sanguinea'
 'Rhamnus cathartica' 'Hypochaeris radicata' 'Crepis capillaris'
 'Lamium purpureum' 'Melilotus officinalis' 'Phacelia tanacetifolia'
 'Crataegus monogyna' 'Bellis perennis' 'Cardamine hirsuta'
 'Fagopyrum esculentum' 'Medicago lupulina' 'Myosotis arvensis'
 'Persicaria lapathifolia' 'Campanula trachelium' 'Hypericum perforatum'
 'Mentha arvensis' 'Chamerion angustifolium' 'Stellaria media'
 'Trifolium pratense' 'Potentilla anserina' 'Genista tinctoria'
 'Hypericum pulchrum' 'Rosa arvensis' 'Ranunculus ficaria'
 'Raphanus raphanistrum' 'Galium aparine' 'Silene dioica'
 'Stellaria graminea' 'Plantago lanceolata' 'Picris hieraciodies'
 'Euphorbia amygdaloides' 'Sonchus arvensis' 'Cirsium vulgare'
 'Trifolium dubium' 'Origanum vulgare' 'Pastinaca sativa'
 'Clinopodium vulgare' 'Geranium columbinum' 'Potentilla reptans'
 'Ligustrum vulgare' 'Prunella vulgaris' 'Lathyrus pratensis'
 'Trifolim campestre' 'Carduus acanthoides' 'Trifolium campestre'
 'Hyacinthoides non-scripta' 'Glechoma hederacea' 'Arctium minus'
 'Dipsacus fullonum' 'Sonchus asper' 'Sisymbrium officinale'
 'Geranium pyrenaicum' 'Lotus pedunculatus' 'Viburnum opulus'
 'Vicia sepium' nan 'Visiting']
Average visiting frequency: nan

In [51]:
# Explore the 'Visiting' column safely
print("=== 'Visiting' Column Analysis ===")
print(f"Data type: {visit_df['Visiting'].dtype}")
print(f"Unique values: {visit_df['Visiting'].unique()}")
print(f"Value counts:")
print(visit_df['Visiting'].value_counts())

# Look for numeric columns that could be averaged
numeric_cols = visit_df.select_dtypes(include=['number']).columns
print(f"\nNumeric columns available: {numeric_cols.tolist()}")

# If you have other columns, show the structure
print(f"\nDataFrame structure:")
print(visit_df.info())

=== 'Visiting' Column Analysis ===
Data type: object
Unique values: ['Heracleum sphondylium' 'Helminthotheca echioides'
 'Pulicaria dysenterica' 'Tripleurospermum inodorum'
 'Rubus fruticosus agg.' 'Bryonia dioica' 'Malva sylvestris'
 'Acer campestre' 'Sinapis arvensis' 'Taraxacum agg.' 'Prunus spinosa'
 'Lamium album' 'Oenanthe crocata' 'Reseda lutea' 'Medicago sativa'
 'Ranunculus repens' 'Daucus carota' 'Senecio erucifolius'
 'Cirsium arvense' 'Lotus corniculatus' 'Stachys sylvatica'
 'Knautia arvensis' 'Leontodon hispidus' 'Achillea millefolium'
 'Centaurea nigra' 'Leucanthemum vulgare' 'Senecio jacobea'
 'Odontites verna' 'Brassica rapa campestris' 'Centaurea scabiosa'
 'Senecio vulgaris' 'Aegopodium podagrica' 'Chaerophyllum temulum'
 'Ranunculus acris' 'Veronica chamaedrys' 'Crepis vesicaria'
 'Convolvulus arvensis' 'Lapsana communis' 'Clematis vitalba'
 'Torilis japonica' 'Alliaria petiolata' 'Anthriscus sylvestris'
 'Viburnum lantana' 'Primula veris' 'Berberis vulgaris' 'Trifolium repens'
 'Trifolium hybridum' 'Veronica persica' 'Cornus sanguinea'
 'Rhamnus cathartica' 'Hypochaeris radicata' 'Crepis capillaris'
 'Lamium purpureum' 'Melilotus officinalis' 'Phacelia tanacetifolia'
 'Crataegus monogyna' 'Bellis perennis' 'Cardamine hirsuta'
 'Fagopyrum esculentum' 'Medicago lupulina' 'Myosotis arvensis'
 'Persicaria lapathifolia' 'Campanula trachelium' 'Hypericum perforatum'
 'Mentha arvensis' 'Chamerion angustifolium' 'Stellaria media'
 'Trifolium pratense' 'Potentilla anserina' 'Genista tinctoria'
 'Hypericum pulchrum' 'Rosa arvensis' 'Ranunculus ficaria'
 'Raphanus raphanistrum' 'Galium aparine' 'Silene dioica'
 'Stellaria graminea' 'Plantago lanceolata' 'Picris hieraciodies'
 'Euphorbia amygdaloides' 'Sonchus arvensis' 'Cirsium vulgare'
 'Trifolium dubium' 'Origanum vulgare' 'Pastinaca sativa'
 'Clinopodium vulgare' 'Geranium columbinum' 'Potentilla reptans'
 'Ligustrum vulgare' 'Prunella vulgaris' 'Lathyrus pratensis'
 'Trifolim campestre' 'Carduus acanthoides' 'Trifolium campestre'
 'Hyacinthoides non-scripta' 'Glechoma hederacea' 'Arctium minus'
 'Dipsacus fullonum' 'Sonchus asper' 'Sisymbrium officinale'
 'Geranium pyrenaicum' 'Lotus pedunculatus' 'Viburnum opulus'
 'Vicia sepium' nan 'Visiting']
Value counts:
Visiting
Taraxacum agg.               304
Heracleum sphondylium        278
Tripleurospermum inodorum    186
Leucanthemum vulgare         152
Centaurea nigra              116
                            ...
Sonchus asper                  2
Dipsacus fullonum              2
Lotus pedunculatus             2
Vicia sepium                   2
Visiting                       1
Name: count, Length: 105, dtype: int64

Numeric columns available: ['Visiting_numeric']

DataFrame structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2467 entries, 0 to 2466
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Farm              2467 non-null   object
 1   Type              2465 non-null   object
 2   Round             2465 non-null   object
 3   Date              2465 non-null   object
 4   Species           2465 non-null   object
 5   Number            2465 non-null   object
 6   Caste             2465 non-null   object
 7   Visiting          2465 non-null   object
 8   Status            2465 non-null   object
 9   Purpose           2465 non-null   object
 10  Family            2465 non-null   object
 11  Visiting_numeric  0 non-null      float64
dtypes: float64(1), object(11)
memory usage: 231.4+ KB
None

In [ ]:
# Count visiting patterns
visiting_patterns = visit_df['Visiting'].value_counts()
print("Most common visiting patterns:")
print(visiting_patterns)

Most common visiting patterns:
Visiting
Taraxacum agg.               304
Heracleum sphondylium        278
Tripleurospermum inodorum    186
Leucanthemum vulgare         152
Centaurea nigra              116
                            ...
Sonchus asper                  2
Dipsacus fullonum              2
Lotus pedunculatus             2
Vicia sepium                   2
Visiting                       1
Name: count, Length: 105, dtype: int64

In [56]:
# Correlation between visit frequency and pollen load 
# Check what columns are actually in merged_df
print("Available columns in merged_df:")
print(merged_df.columns.tolist())

print("\nDataFrame info:")
print(merged_df.info())

print("\nFirst few rows:")
print(merged_df.head())

Available columns in merged_df:
['Farm_x', 'Type_x', 'Round_x', 'Date_x', 'Species', 'Load', 'Netted on', 'Plant pollen', 'Status_x', 'Proportion', 'Weight', 'Farm_y', 'Type_y', 'Round_y', 'Date_y', 'Number', 'Caste', 'Visiting', 'Status_y', 'Purpose', 'Family']

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647301 entries, 0 to 647300
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Farm_x        647301 non-null  object
 1   Type_x        647297 non-null  object
 2   Round_x       647297 non-null  object
 3   Date_x        647297 non-null  object
 4   Species       647297 non-null  object
 5   Load          647296 non-null  float64
 6   Netted on     647297 non-null  object
 7   Plant pollen  647297 non-null  object
 8   Status_x      647297 non-null  object
 9   Proportion    647297 non-null  object
 10  Weight        647297 non-null  object
 11  Farm_y        647301 non-null  object
 12  Type_y        647297 non-null  object
 13  Round_y       647297 non-null  object
 14  Date_y        647297 non-null  object
 15  Number        647297 non-null  object
 16  Caste         647297 non-null  object
 17  Visiting      647297 non-null  object
 18  Status_y      647297 non-null  object
 19  Purpose       647297 non-null  object
 20  Family        647297 non-null  object
dtypes: float64(1), object(20)
memory usage: 103.7+ MB
None

First few rows:
  Farm_x Type_x Round_x      Date_x          Species  Load         Netted on  \
0  Farm1    ELS     One  24/04/2015  Andrena bicolor   1.0  Sinapis arvensis
1  Farm1    ELS     One  24/04/2015  Andrena bicolor   1.0  Sinapis arvensis
2  Farm1    ELS     One  24/04/2015  Andrena bicolor   1.0  Sinapis arvensis
3  Farm1    ELS     One  24/04/2015  Andrena bicolor   1.0  Sinapis arvensis
4  Farm1    ELS     One  24/04/2015  Andrena bicolor   1.0  Sinapis arvensis

       Plant pollen Status_x Proportion  ...  Farm_y Type_y Round_y  \
0  Sinapis arvensis     Wild        100  ...   Farm1    ELS     One
1  Sinapis arvensis     Wild        100  ...  Farm11    ELS   Three
2  Sinapis arvensis     Wild        100  ...  Farm11    ELS    Four
3  Sinapis arvensis     Wild        100  ...  Farm11    ELS    Four
4  Sinapis arvensis     Wild        100  ...  Farm11    ELS     One

       Date_y Number   Caste               Visiting Status_y Purpose  \
0  24/04/2015      3  Female       Sinapis arvensis     Wild  Pollen
1    6/7/2014      1  Female  Heracleum sphondylium     Wild  Nectar
2  31/07/2015      1  Female       Clematis vitalba     Wild  Nectar
3  31/07/2015      1  Female  Rubus fruticosus agg.     Wild  Nectar
4   11/5/2015      1    Male         Taraxacum agg.     Wild  Nectar

          Family
0   Brassicaceae
1       Apiaceae
2  Ranunculaceae
3       Rosaceae
4     Asteraceae

[5 rows x 21 columns]

In [57]:
# Look for columns that might contain the data you want
load_columns = [col for col in merged_df.columns if 'load' in col.lower()]
visit_columns = [col for col in merged_df.columns if any(term in col.lower() for term in ['visit', 'freq', 'count'])]
numeric_columns = merged_df.select_dtypes(include=['number']).columns.tolist()

print(f"Load-related columns: {load_columns}")
print(f"Visit-related columns: {visit_columns}")
print(f"All numeric columns: {numeric_columns}")

Load-related columns: ['Load']
Visit-related columns: ['Visiting']
All numeric columns: ['Load']

In [58]:
# Based on your earlier code, try these actual column names:
if 'Load' in merged_df.columns and 'Visiting' in merged_df.columns:
    # Convert to numeric if needed
    merged_df['Load_numeric'] = pd.to_numeric(merged_df['Load'], errors='coerce')
    merged_df['Visiting_numeric'] = pd.to_numeric(merged_df['Visiting'], errors='coerce')
    
    # Calculate correlation
    corr = merged_df[['Load_numeric', 'Visiting_numeric']].corr()
    print("Correlation between Load and Visiting:")
    print(corr)

Correlation between Load and Visiting:
                  Load_numeric  Visiting_numeric
Load_numeric               1.0               NaN
Visiting_numeric           NaN               NaN

In [59]:
def safe_correlation(df, col1_keywords, col2_keywords):
    """Safely calculate correlation between columns"""
    
    # Find matching columns
    col1_matches = [col for col in df.columns if any(kw in col.lower() for kw in col1_keywords)]
    col2_matches = [col for col in df.columns if any(kw in col.lower() for kw in col2_keywords)]
    
    print(f"Found columns for '{col1_keywords}': {col1_matches}")
    print(f"Found columns for '{col2_keywords}': {col2_matches}")
    
    if not col1_matches or not col2_matches:
        print("Could not find matching columns")
        return None
    
    col1 = col1_matches[0]  # Use first match
    col2 = col2_matches[0]  # Use first match
    
    # Ensure columns are numeric
    df[f'{col1}_numeric'] = pd.to_numeric(df[col1], errors='coerce')
    df[f'{col2}_numeric'] = pd.to_numeric(df[col2], errors='coerce')
    
    # Calculate correlation
    corr = df[[f'{col1}_numeric', f'{col2}_numeric']].corr()
    
    print(f"Correlation between {col1} and {col2}:")
    print(corr)
    
    return corr

# Use the safe function
correlation_result = safe_correlation(
    merged_df, 
    ['load', 'pollen'], 
    ['visit', 'freq', 'visiting']
)

Found columns for '['load', 'pollen']': ['Load', 'Plant pollen', 'Load_numeric']
Found columns for '['visit', 'freq', 'visiting']': ['Visiting', 'Visiting_numeric']
Correlation between Load and Visiting:
                  Load_numeric  Visiting_numeric
Load_numeric               1.0               NaN
Visiting_numeric           NaN               NaN

In [61]:
# Check if the merge worked correctly
print("Merge details:")
print(f"Original pollen_df shape: {pollen_df.shape}")
print(f"Original visit_df shape: {visit_df.shape}")
print(f"Merged_df shape: {merged_df.shape}")

# Check the merge parameters - this looks suspicious:
# merged_df = pd.merge(pollen_df, visit_df, on=['Species', 'Species'], how='inner')
# You have 'Species' listed twice!

# Correct merge should be:
merged_df_fixed = pd.merge(pollen_df, visit_df, on='Species', how='inner')
print(f"Fixed merged_df shape: {merged_df_fixed.shape}")
print(f"Fixed merged_df columns: {merged_df_fixed.columns.tolist()}")

Merge details:
Original pollen_df shape: (3523, 11)
Original visit_df shape: (2467, 12)
Merged_df shape: (647301, 23)
Fixed merged_df shape: (647301, 22)
Fixed merged_df columns: ['Farm_x', 'Type_x', 'Round_x', 'Date_x', 'Species', 'Load', 'Netted on', 'Plant pollen', 'Status_x', 'Proportion', 'Weight', 'Farm_y', 'Type_y', 'Round_y', 'Date_y', 'Number', 'Caste', 'Visiting', 'Status_y', 'Purpose', 'Family', 'Visiting_numeric']

In [63]:
# Check if the merge worked correctly
print("Merge details:")
print(f"Original pollen_df shape: {pollen_df.shape}")
print(f"Original visit_df shape: {visit_df.shape}")
print(f"Merged_df shape: {merged_df.shape}")

# Check the merge parameters - this looks suspicious:
# merged_df = pd.merge(pollen_df, visit_df, on=['Species', 'Species'], how='inner')
# You have 'Species' listed twice!

# Correct merge should be:
merged_df_fixed = pd.merge(pollen_df, visit_df, on='Species', how='inner')
print(f"Fixed merged_df shape: {merged_df_fixed.shape}")
print(f"Fixed merged_df columns: {merged_df_fixed.columns.tolist()}")

Merge details:
Original pollen_df shape: (3523, 11)
Original visit_df shape: (2467, 12)
Merged_df shape: (647301, 23)
Fixed merged_df shape: (647301, 22)
Fixed merged_df columns: ['Farm_x', 'Type_x', 'Round_x', 'Date_x', 'Species', 'Load', 'Netted on', 'Plant pollen', 'Status_x', 'Proportion', 'Weight', 'Farm_y', 'Type_y', 'Round_y', 'Date_y', 'Number', 'Caste', 'Visiting', 'Status_y', 'Purpose', 'Family', 'Visiting_numeric']

In [64]:
# Check if the merge worked correctly
print("=== Merge Analysis ===")
print(f"Merged DataFrame shape: {merged_df_fixed.shape}")
print(f"Columns: {merged_df_fixed.columns.tolist()}")
print("\nFirst 5 rows:")
print(merged_df_fixed.head())
print("\nData types:")
print(merged_df_fixed.dtypes)

=== Merge Analysis ===
Merged DataFrame shape: (647301, 22)
Columns: ['Farm_x', 'Type_x', 'Round_x', 'Date_x', 'Species', 'Load', 'Netted on', 'Plant pollen', 'Status_x', 'Proportion', 'Weight', 'Farm_y', 'Type_y', 'Round_y', 'Date_y', 'Number', 'Caste', 'Visiting', 'Status_y', 'Purpose', 'Family', 'Visiting_numeric']

First 5 rows:
  Farm_x Type_x Round_x      Date_x          Species  Load         Netted on  \
0  Farm1    ELS     One  24/04/2015  Andrena bicolor   1.0  Sinapis arvensis
1  Farm1    ELS     One  24/04/2015  Andrena bicolor   1.0  Sinapis arvensis
2  Farm1    ELS     One  24/04/2015  Andrena bicolor   1.0  Sinapis arvensis
3  Farm1    ELS     One  24/04/2015  Andrena bicolor   1.0  Sinapis arvensis
4  Farm1    ELS     One  24/04/2015  Andrena bicolor   1.0  Sinapis arvensis

       Plant pollen Status_x Proportion  ... Type_y Round_y      Date_y  \
0  Sinapis arvensis     Wild        100  ...    ELS     One  24/04/2015
1  Sinapis arvensis     Wild        100  ...    ELS   Three    6/7/2014
2  Sinapis arvensis     Wild        100  ...    ELS    Four  31/07/2015
3  Sinapis arvensis     Wild        100  ...    ELS    Four  31/07/2015
4  Sinapis arvensis     Wild        100  ...    ELS     One   11/5/2015

  Number   Caste               Visiting Status_y Purpose         Family  \
0      3  Female       Sinapis arvensis     Wild  Pollen   Brassicaceae
1      1  Female  Heracleum sphondylium     Wild  Nectar       Apiaceae
2      1  Female       Clematis vitalba     Wild  Nectar  Ranunculaceae
3      1  Female  Rubus fruticosus agg.     Wild  Nectar       Rosaceae
4      1    Male         Taraxacum agg.     Wild  Nectar     Asteraceae

  Visiting_numeric
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN

[5 rows x 22 columns]

Data types:
Farm_x               object
Type_x               object
Round_x              object
Date_x               object
Species              object
Load                float64
Netted on            object
Plant pollen         object
Status_x             object
Proportion           object
Weight               object
Farm_y               object
Type_y               object
Round_y              object
Date_y               object
Number               object
Caste                object
Visiting             object
Status_y             object
Purpose              object
Family               object
Visiting_numeric    float64
dtype: object

In [65]:
# Safe numeric conversion
def safe_numeric_conversion(df, column_name):
    """Safely convert column to numeric, showing what gets lost"""
    
    print(f"\n=== Converting '{column_name}' to numeric ===")
    original_count = df[column_name].notna().sum()
    
    # Try conversion
    df[f'{column_name}_numeric'] = pd.to_numeric(df[column_name], errors='coerce')
    
    # Check results
    numeric_count = df[f'{column_name}_numeric'].notna().sum()
    lost_count = original_count - numeric_count
    
    print(f"Original non-null values: {original_count}")
    print(f"Successfully converted: {numeric_count}")
    print(f"Lost in conversion: {lost_count}")
    
    if lost_count > 0:
        print("Values that couldn't be converted:")
        non_numeric = df[df[f'{column_name}_numeric'].isna() & df[column_name].notna()][column_name].unique()
        print(non_numeric[:10])  # Show first 10
    
    return df

# Apply to both columns
merged_df_fixed = safe_numeric_conversion(merged_df_fixed, 'Load')
merged_df_fixed = safe_numeric_conversion(merged_df_fixed, 'Visiting')

=== Converting 'Load' to numeric ===
Original non-null values: 647296
Successfully converted: 647296
Lost in conversion: 0

=== Converting 'Visiting' to numeric ===
Original non-null values: 647297
Successfully converted: 0
Lost in conversion: 647297
Values that couldn't be converted:
['Sinapis arvensis' 'Heracleum sphondylium' 'Clematis vitalba'
 'Rubus fruticosus agg.' 'Taraxacum agg.' 'Tripleurospermum inodorum'
 'Bryonia dioica' 'Centaurea nigra' 'Cirsium arvense'
 'Leucanthemum vulgare']

In [66]:
# Quick check to see what's wrong
print("First few rows of merged data:")
for col in ['Species', 'Load', 'Visiting']:
    if col in merged_df_fixed.columns:
        print(f"{col}: {merged_df_fixed[col].head().tolist()}")

First few rows of merged data:
Species: ['Andrena bicolor', 'Andrena bicolor', 'Andrena bicolor', 'Andrena bicolor', 'Andrena bicolor']
Load: [1.0, 1.0, 1.0, 1.0, 1.0]
Visiting: ['Sinapis arvensis', 'Heracleum sphondylium', 'Clematis vitalba', 'Rubus fruticosus agg.', 'Taraxacum agg.']